<div class="five wide center aligned column">
  <div class="ui icon header">
    <i class="{{ section.icon }} icon"></i>
    {{ section.title }}
  </div>
  <p>{{ section.summary }}</p>
  <p>
    <a class="ui primary right labeled icon button" href="{{ section._slug }}">
      {{ section.title }}
      <i class="right chevron icon"></i>
    </a>
  </p>
</div>
