---
title: Attaché
published: true
seo_title: Attaché - Responsive Web Portfolio
meta_description: Attaché is a responsive web portfolio utilizing LocomotiveCMS and SemanticUI. It includes sections for skills, experience, services, clients, philosophy, blog entries, and contact form.
---
<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"    content="IE=edge,chrome=1">
  <meta name="author"                   content="">
  <meta name="viewport"                 content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" type="image/x-icon"  href="{{ 'favicon.ico' | theme_image_url }}">
  {% csrf_meta %}

  <!-- page-specific variables -->
  {% if fullpath == '/' %}{% assign section = 'homepage' %}{% elsif section == blank %}{% assign section = page.slug %}{% endif %}
  {% capture 'section_stylesheet' %}{{ section }}.css{% endcapture %}
  {% capture 'section_javascript' %}{{ section }}.js{% endcapture %}

  {% if seo_title == blank %}{% if page.templatized? %}{% assign seo_title = entry.seo_title %}{% else %}{% assign seo_title = page.seo_title %}{% endif %}{% endif %}
  {% if meta_description == blank %}{% if page.templatized? %}{% assign meta_description = entry.meta_description %}{% else %}{% assign meta_description = page.meta_description %}{% endif %}{% endif %}

  {% if masthead_title == blank %}{% if page.templatized? %}{% assign masthead_title = entry.title %}{% else %}{% assign masthead_title = page.title %}{% endif %}{% endif %}
  {% if masthead_description == blank %}{% if page.templatized? %}{% assign masthead_description = entry.description %}{% else %}{% assign masthead_description = page.meta_description %}{% endif %}{% endif %}

  <!-- site properities -->
  <title>{{ seo_title }}</title>

  <!-- stylesheets -->
  {{ 'semantic-1.9.0.css' | stylesheet_tag: 'all' }}
  {{ 'attache.css' | stylesheet_tag: 'all' }}
  {{ section_stylesheet | stylesheet_tag: 'all' }}
  {% block 'stylesheets' %}
    <!-- page-specific stylesheet; override in other pages -->
  {% endblock %}

  <!-- javascripts -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
  {{ 'semantic-1.9.0.js' | javascript_tag }}
  {{ 'attache.js' | javascript_tag }}
  {{ section_javascript | javascript_tag }}
  {% block 'javascripts' %}
    <!-- page-specific javascript; override in other pages -->
  {% endblock %}
</head>

<body id="{{ section }}" class="attache">

{% block 'masthead' %}
  <div class="ui inverted masthead segment">
    <div class="ui page grid">
      <div class="column">
        <div class="ui fixed inverted main menu">
          <a class="header item" href="/">{{ site.name }}</a>
          <div class="right menu">
            <div class="ui mobile dropdown link item">
              Menu
              <i class="dropdown icon"></i>
              <div class="menu">
                {% include 'nav' %}
              </div>
            </div>
            {% include 'nav' %}
          </div>
        </div>
        <div class="ui hidden transition information">
          <h1 class="ui inverted header">
            {{ masthead_title }}
          </h1>
          <p>{{ masthead_description }}</p>

          {% block 'masthead_cta' %}
            <a class="large basic inverted animated fade ui button" href="https://github.com/conroywhitney/attache">
              <div class="visible content">Want to do great things together?</div>
              <div class="hidden content">Click to send me a message</div>
            </a>
          {% endblock %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block 'main' %}

  {% block 'sections' %}
  <div class="ui vertical feature segment">

    <div class="ui stackable center aligned page grid">
      <div class="row">
        <div class="column">
          <h1 class="ui huge header">
            Where would you like to go today?
          </h1>
          <div class="ui horizontal divider"><i class="ui massive rocket icon"></i></div>
        </div>
      </div><!-- /header -->
    </div>

    {% include 'sections_grid' %}

  </div><!-- /segment -->
  {% endblock %}
  <!-- /sections block -->


  {% block 'socialmedia' %}
  <div class="ui inverted vertical segment">
    <div class="ui stackable center aligned page grid">

      <div class="row">
        <div class="column">
          <h1 class="ui huge inverted header">
            Find me around the interwebs
          </h1>
          <div class="ui horizontal divider"><i class="ui massive inverted cloud icon"></i></div>
        </div>
      </div><!-- /header -->

      <div class="three column logo row">
        <div class="column">
          <a href="https://www.github.com">
            <i class="huge inverted github icon"></i>
          </a>
        </div>
        <div class="column">
          <a href="https://www.twitter.com">
            <i class="huge inverted twitter icon"></i>
          </a>
        </div>
        <div class="column">
          <a href="https://www.linkedin.com">
            <i class="huge inverted square linkedin icon"></i>
          </a>
        </div>
      </div><!-- /logos -->

    </div><!-- /grid -->
  </div><!-- /segment -->
  {% endblock %}
  <!-- /social media block -->


  {% block 'contact' %}
  <div class="ui vertical segment">
    <div class="ui stackable center aligned page grid">

      <div class="row">
        <div class="column">
          <h1 class="ui huge header">
            Let's Do Great Things Together
          </h1>
          <div class="ui horizontal divider"><i class="ui huge heart icon"></i></div>
        </div>
      </div><!-- /header -->

      <div class="row">
        <div class="twelve wide column">
          <form class="ui form" id="contact_form">
            <div class="two fields">
              <div class="field">
                <input placeholder="Your Name" type="text" id="contact_name" name="contact_name">
              </div>
              <div class="field">
                <input placeholder="Your Email" type="text" id="contact_email" name="contact_email">
              </div>
            </div>
            <div class="field">
              <textarea placeholder="Your Message" id="contact_message" name="contact_message"></textarea>
            </div>
            <div class="ui primary submit button">Send Message</div>
          </div>
        </div>
      </div><!-- /form -->

    </div><!-- /grid -->
  </div><!-- /segment -->
  {% endblock %}
  <!-- /contact block -->


{% endblock %}


{% block 'footer' %}
  <div class="ui inverted footer vertical segment">
    <div class="ui stackable center aligned page grid">
      <div class="ten wide column">
        <div class="ui three column center aligned stackable grid">
          <div class="column">
            <h5 class="ui inverted header">Courses</h5>
            <div class="ui inverted link list">
              <a class="item">Registration</a>
              <a class="item">Course Calendar</a>
              <a class="item">Professors</a>
            </div>
          </div>
          <div class="column">
            <h5 class="ui inverted header">Library</h5>
            <div class="ui inverted link list">
              <a class="item">A-Z</a>
              <a class="item">Most Popular</a>
              <a class="item">Recently Changed</a>
            </div>
          </div>
          <div class="column">
            <h5 class="ui inverted header">Community</h5>
            <div class="ui inverted link list">
              <a class="item">BBS</a>
              <a class="item">Careers</a>
              <a class="item">Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
      <div class="six wide column">
        <h5 class="ui inverted header">Contact Us</h5>
        <addr>
          237 Catberry Road <br>
          Milton Keynes, London <br>
        </addr>
        <p>(404) 867-5309</p>
      </div>
    </div>
  </div>
{% endblock %}

</body>

</html>
